---
import BaseLayout from "../layouts/BaseLayout.astro";
import IntroCard from "../components/sections/IntroCard.astro";
import AboutMe from "../components/sections/AboutMe.astro";
import Card from "../components/Card.astro";
import TimeZoneCard from "../components/sections/TimeZoneCard.astro";
import Books from "../components/sections/Books.astro";
import ExperienceCard from "../components/sections/ExperienceCard.astro";
import Projects from "../components/sections/Projects.astro";
import StudyCard from "../components/sections/StudyCard.astro";
import CertificateCard from "../components/sections/CertificateCard.astro";
import { PROFILE } from "../content/profileData";
import BlogCard from "../components/sections/BlogCard.astro";
const SITE = PROFILE.site;


const words = PROFILE.words ?? [];
const randomWord = words.length
? words[Math.floor(Math.random() * words.length)]
: "";
---
<BaseLayout title={SITE.SEO.title} description={SITE.SEO.description}>
  <div
    slot="loader"
    class="fixed inset-0 z-50 flex h-screen w-screen items-center justify-center text-3xl font-black uppercase text-neutral-50 loader bg-darkslate-700"
  >
  </div>

  <main
    transition:animate="fade"
    class="relative m-auto w-full max-w-6xl overflow-hidden p-2 sm:p-4 md:p-6 flex flex-col gap-4"
  >
    

    <Card>
      <div class="flex h-full flex-col justify-between">
        <blockquote class="mt-6 border-l-2 pl-6 italic">
          “{randomWord}”
        </blockquote>
        <p class="mt-2 text-xs"></p>
      </div>
    </Card>


    <Card>
      <IntroCard />
    </Card>

    <Card title="About me">
      <AboutMe />
    </Card>

    

    <Card title="Education">
      <StudyCard />
    </Card>

    <Card title="Certificates">
      <CertificateCard />
    </Card>

    <Card title="Experiences">
      <ExperienceCard />
    </Card>

    <Card title="Projects">
      <Projects />
    </Card>

    <!--
    <Card title="Blog Posts">
      <BlogCard />
    </Card>
    -->

    <!--
    <Card title="Books I read">
      <Books />
    </Card>
    -->

    <!--
    <Card title="Contact">
      <div class="flex h-full w-full items-center justify-center text-center text-sm">
        <i>
          Please feel free to reach out to me through
          <a href={PROFILE.links.twitter} class="underline hover:font-bold">Twitter message</a>
          or
          <a href={PROFILE.repo + "/issues"} class="underline hover:font-bold">Github issue</a>.
        </i>
      </div>
    </Card>
    -->
  </main>
</BaseLayout>

<!--<script>-->
<!--  // JS for animating the cards-->
<!--  import { stagger, spring, timeline, type TimelineDefinition } from 'motion'-->
<!--  import { loaderAnimation } from '../lib/constants'-->

<!--  const cards = document.querySelectorAll('.card-animate')-->

<!--  const sequence = [-->
<!--    loaderAnimation,-->
<!--    [-->
<!--      cards,-->
<!--      {y: ['40%', '0%'], opacity: [0, 1]},-->
<!--      {-->
<!--        at: '-0.1',-->
<!--        duration: 0.2,-->
<!--        delay: stagger(0.1),-->
<!--        easing: spring({velocity: 200, stiffness: 50, damping: 10}),-->
<!--      },-->
<!--    ],-->
<!--  ]-->

<!--  timeline(sequence as TimelineDefinition)-->
<!--</script>-->
