# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/copilot.data.migration.agent.xml
/copilot.data.migration.edit.xml
/jupyter-settings.xml
/copyright/MIT.xml
/modules.xml
/copyright/MPL_2_0.xml
/inspectionProfiles/Project_Default.xml
/copyright/Tech_Tim.xml
/techtim42.com.iml
/vcs.xml
